[jira]

#username for jira user
user=user

#passowrd for jira user
pass=pass

#URL to jira instance rpc calls (http://<domain>/rpc/xmlrpc)
url=http://jira.atlassian.com/rpc/xmlrpc

# the command that is used to ssh into the gerrit sshd
gerritcmd=ssh -p 29418 localhost gerrit

# optional comma separated list of jira projects
# if ommited, you must run "./hooks/jirett-process-hook update-projects" after setting up the above 
# credentials to automatically fill in the projects list
projects=
