[jira]

#username for jira user
user=admin

#passowrd for jira user
pass=admin

#URL to jira instance api calls (http://<domain>)
url=http://localhost:8080

# the command that is used to ssh into the gerrit sshd
gerritcmd=ssh -p 29418 sintonwong@localhost gerrit

# If you create a custom field for "Gerrit status", put the numeric ID
# here.  The ID is found from the URL when editing that custom field.
# if set, it will set it to "pending" when a patch is uploaded, and "merged"
# when it is merged 
custom_field=

# optional comma separated list of jira projects
projects=HELLOWORLD,NEW

# Set to 'true' if you'd like Jirret to search for Gerrit tracking IDs rather
# than in the subject line for your issue IDs
use_trackingid=false

# Set to false to disable {quote} markers surrounding comments
enable_quotes=true
